!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title getumblr.
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/media.css')

  body

    .ui-progress
      .progress.progress-striped
        .progress-bar

    .ui-scrollto
      .glyphicon.glyphicon-chevron-up

    .ui-wrapper
      #account.ui-section
      #content.ui-section

    #ui-dialog.ui-dialog.ui-dialog-opaque: table: tr: td
      .ui-dialog-container
        input.ui-dialog-keydriver
        .ui-dialog-message: p
        .ui-dialog-control
          button.ui-dialog-button.btn.btn-sm.btn-default Cancel
          button.ui-dialog-button.btn.btn-sm.btn-primary OK

    #ui-config.ui-dialog.ui-dialog-opaque: table: tr: td
      .ui-dialog-container
        input.ui-dialog-keydriver
        .ui-dialog-message: table
        .ui-dialog-control
          button.ui-dialog-button.btn.btn-sm.btn-default Cancel
          button.ui-dialog-button.btn.btn-sm.btn-primary OK

    script#tmpl-account(type='text/template')
      <% if (callback) { %>
      .ui-dialog.ui-dialog-lock(style='visibility:visible;background-image:url(//mogashi.no-ip.org/alice)')
        table#auth: tr: td
          form(method='POST', action='//api.geta6.net/session/create')
            h1 getumblr.
            input(type='hidden', name='callback', value!='<%- callback %>')
            .form-group
              input.input-lg.form-control.username(type='text', name='username', placeholder='Username', autocomplete='off', autocorrect='off', autocapitalize='off')
              input.input-lg.form-control.password(type='password', name='password', placeholder='Password', autocomplete='off', autocorrect='off', autocapitalize='off')
            button.btn.btn-lg.btn-primary(type='submit') Log in
      <% } else { %>
      table#navi: tr
        td.navi-head: a.js-navi-home(href='javascript:void(0)') getumblr.
        td.navi.js-navi: a.js-navi-home(href='javascript:void(0)'): .glyphicon.glyphicon-home
        td.navi.js-navi: a.js-navi-mail(href='javascript:void(0)'): .glyphicon.glyphicon-bullhorn
        td.navi.js-navi: a.js-navi-help(href='javascript:void(0)'): .glyphicon.glyphicon-question-sign
        td.navi.js-navi: a.js-navi-conf(href='javascript:void(0)'): .glyphicon.glyphicon-cog
        td.navi.js-navi: a.js-navi-logout(href='javascript:void(0)'): .glyphicon.glyphicon-off
        td.navi-form
          form.js-navi-search(action='/search', method='get')
            button.btn.btn-sm(type='submit'): .glyphicon.glyphicon-search
            input.form-control.input-sm(type='text', placeholder='Search')
      <% } %>

    script#tmpl-contents(type='text/template')
      table#item: tr
        td.item-main
        td.item-side
          .item-side-container-dummy
          .item-side-container
            .item-stat
              table
                tr: th.item-side-entry STATUS
                tr: td.item-side-entry.js-item-stat-at
                  span At
                  .pull-right.js-item-stat
                tr: td.item-side-entry.js-item-stat-size
                  span Size
                  .pull-right.js-item-stat
                tr: td.item-side-entry.js-item-stat-count
                  span Count
                  .pull-right.js-item-stat
                tr: td.item-side-entry.js-item-stat-type
                  span Type
                  .pull-right.js-item-stat
                tr: td.item-side-entry.js-item-stat-artist
                  span Artist
                  .pull-right.js-item-stat
                tr: td.item-side-entry.js-item-stat-series
                  span Series
                  .pull-right.js-item-stat.item-stat-clickable
                tr: td.item-side-entry.js-item-stat-director
                  span Director
                  .pull-right.js-item-stat.item-stat-clickable
                tr: td.item-side-entry.js-item-stat-track
                  span Track
                  .pull-right.js-item-stat
                tr: td.item-side-entry.js-item-stat-disc
                  span Disc
                  .pull-right.js-item-stat

            .item-sort
              table
                tr: th.item-side-entry SORT ORDER
                tr: td.item-side-entry.ui-selectbox
                  .js-item-order-place
                    .glyphicon.glyphicon-sort-by-order
                    .pull-right Time Descend
                  .ui-selectbox-candidate
                    table
                      tr: td.item-side-entry.js-item-order(data-order='+time')
                        .glyphicon.glyphicon-sort-by-order
                        .pull-right Time Ascend
                      tr: td.item-side-entry.js-item-order(data-order='-time')
                        .glyphicon.glyphicon-sort-by-order-alt
                        .pull-right Time Descend
                      tr: td.item-side-entry.js-item-order(data-order='+name')
                        .glyphicon.glyphicon-sort-by-alphabet
                        .pull-right Name Ascend
                      tr: td.item-side-entry.js-item-order(data-order='-name')
                        .glyphicon.glyphicon-sort-by-alphabet-alt
                        .pull-right Name Descend

            .item-user
              table
                tr: th.item-side-entry ACCOUNT
                tr: td.item-side-entry
                  .pull-left.item-user-icon.js-item-user-icon
                  .pull-right.js-item-user.js-item-user-name

            .item-version
              table
                tr: th.item-side-entry VERSION
                tr: td.item-side-entry
                  .pull-left: a(href='//github.com/geta6/mediajs') mediajs
                  .pull-right= version

    script#tmpl-content(type='text/template')
      .item-icon(style!='background-image:url(//api.geta6.net/content/thumb?id=<%- id %>)')
      .item-body
        .item-body-header
          .item-body-unviewed-marker
          a.item-body-header-icon
            <% if (type == '.mp3') { %>
            .glyphicon.glyphicon-music
            <% } else if (type == '.mp4') { %>
            .glyphicon.glyphicon-film
            <% } else if (type == '.pdf') { %>
            .glyphicon.glyphicon-book
            <% } else { %>
            .glyphicon.glyphicon-folder-open
            <% } %>
          a.item-body-header-title
            span <%- details.track ? ('000' + details.track).slice(-3) : '' %>
            span &nbsp;
            span <%- details.title || details.series || path.split('/').pop().replace(/\.(mp4|mp3|pdf)/, '') %>
          a.pull-right.item-body-header-series
            span <%- details.series || parent %>
        .item-body-player
          .item-body-player-container
            <% if (player) { if (type == '.mp4') { %>
            video.item-body-player-media.item-body-player-video(controls='controls', preload='none')
              source(type='video/mp4', src!='//api.geta6.net/content/media?id=<%- id %>')
              object(type='application/x-shockwave-flash', data='//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.11.3/js/flashmediaelement.swf')
                param(name='movie', value='//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.11.3/js/flashmediaelement.swf')
                param(name='flashvars', value!='controls=true&file=//api.geta6.net/content/media?id=<%- id %>')
            <% } else if (type == '.mp3') { %>
            audio.item-body-player-media.item-body-player-audio(controls='controls', preload='none')
              source(type='audio/mp3', src!='//api.geta6.net/content/media?id=<%- id %>')
              object(type='application/x-shockwave-flash', data='//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.11.3/js/flashmediaelement.swf')
                param(name='movie', value='//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.11.3/js/flashmediaelement.swf')
                param(name='flashvars', value!='controls=true&file=//api.geta6.net/content/media?id=<%- id %>')
            <% } else if (type == '.pdf') { %>
            .form-group
              input.form-control.item-body-player-page(value='1')
            img.item-body-player-media.item-body-player-image(src!='//api.geta6.net/content/media?id=<%- id %>&page=1', data-src!='//api.geta6.net/content/media?id=<%- id %>', data-page='1')
            <% } } %>
        .item-body-footer
          table: tr
            td.item-body-footer-status
              div <%- moment(created).fromNow() %>
              .item-body-footer-notes-box
            td.item-body-footer-action
              <% if (type != 'd') { %>
              a(href='javascript:void(0)'): .js-item-body-footer-action-reb.glyphicon.glyphicon-retweet
              a(href='javascript:void(0)'): .js-item-body-footer-action-fav.glyphicon.glyphicon-heart
              <% } %>

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='/media.js')
